button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: var(--color-primary);
	border: 2px solid transparent;
	border-radius: 0;
	color: var(--color-white);
	display: inline-block;
	font-weight: 500;
	padding: calc(var(--spacing) * 1.5) calc(var(--spacing-2x) * 1.25);
	text-decoration: none;
	transition: all var(--transition-duration-md) ease-in-out;

	&:hover,
	&:active,
	&:focus {
		background-color: var(--color-primary-900);
		color: var(--color-white);
		outline-offset: -2px;
	}

	&:focus {
		outline: thin dotted;
	}
}
