pre,
.wp-block-code {
	background-color: var(--color-grey-100);
	font-family: var(--font-family-mono);
	margin: 0 0 var(--spacing-4x);
	max-width: 100%;
	overflow: auto;
	padding: var(--spacing-4x);
}

code,
kbd,
tt,
var {
	font-family: var(--font-family-mono);
}
