:root {
	/* Font families. */
	--font-family-sans: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-serif: "Playfair Display", serif;
	--font-family-mono:
		"Monaco",
		"Consolas",
		"Andale Mono",
		"DejaVu Sans Mono",
		monospace;

	/* Font sizes. */
	--font-size-sm: 0.875rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 2rem;
	--font-size-4xl: 2rem;

	--font-size-body: var(--font-size-lg);

	@media (--screen-md) {
		--font-size-lg: 1.25rem;
		--font-size-xl: 1.5rem;
		--font-size-2xl: 2rem;
		--font-size-3xl: 2.5rem;
		--font-size-4xl: 3rem;
	}

	@media (--screen-lg) {
		--font-size-2xl: 2.5rem;
		--font-size-3xl: 3rem;
		--font-size-4xl: 3.5rem;
	}

	/* Line heights. */
	--line-height-sm: 1.25;
	--line-height-md: 1.5;

	/* Letter spacings. */
	--letter-spacing-md: 0.1em;
}
