<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% bundledCss %}
		<title>{{ title }} - {{ site.title }}</title>
	</head>
	<body>
		<div class="site mx-auto max-w-2xl">
			<header class="site-header px-2 mx-auto max-w-xl py-4">
				<a class="skip-link screen-reader-text" href="#main">Skip to content</a>

				{% include "components/nav.njk" %}
			</header>

			<main id="main" class="site-main px-2 py-8 mx-auto max-w-xl has-white-background-color">
				<article class="entry">
					<header class="entry__header has-text-align-center mx-auto max-w-lg">
						{% block byline %}
						{% endblock byline %}

						{% block pageTitle %}
						{% endblock pageTitle %}
					</header>

					<div class="entry__content flow-spacing">
						{% block content %}
						{% endblock %}
					</div>

					{% block contentFooter %}
					{% endblock %}
				</article>
				{% block comments %}
				{% endblock %}
			</main>

			<footer class="site-footer px-2 mx-auto max-w-xl py-4">
				{% include "components/nav-footer.njk" %}
			</footer>

			{% bundledJs %}
		</div>
	</body>
</html>
