<section class="comments-template mx-auto max-w-md mt-8">
	<div class="comment-respond flow-spacing">
		<h2 class="comment-respond__reply-title h3">Leave a Reply</h2>

		<form method="post" id="commentform" class="comment-respond__form flow-spacing js-comment-respond-form" novalidate>
			<input type="hidden" id="postId" value={{ id }} />
			<p class="comment-respond__notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
			<p class="comment-respond__field comment-respond__field--comment">
				<label for="comment">Comment</label>
				<textarea autocomplete="nope" id="comment" name="comment" required></textarea>
			</p>

			<p class="comment-respond__field comment-respond__field--name">
				<label for="name">Name <span class="required">*</span></label>
				<input id="name" name="name" type="text" value="" size="30" maxlength="100" aria-describedby="name-notes" required>
			</p>

			<p class="comment-respond__field comment-respond__field--email">
				<label for="email">Email <span class="required">*</span></label>
				<input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required>
			</p>

			<p class="comment-respond__field comment-respond__field--url">
				<label for="url">Website</label>
				<input id="url" name="url" type="url" value="" size="30" maxlength="200">
			</p>

			<p class="comment-respond__field comment-respond__field--submit">
				<input name="submit" type="submit" id="submit" class="comment-respond__submit" value="Post Comment">
			</p>
		</form>
	</div>
</section>
