{% if terms | length %}
	<ul class="entry__terms entry__terms--{{ termSlug }} reset-list flex flex-wrap mt-0">
		{%- for term in terms -%}
			<li class="entry__terms-item">
				<a class="entry__terms-anchor decoration-none font-sans fw-600 has-sm-font-size block" href="/{{ termSlug }}/{{ term.slug }}">{{ term.name }}</a>
			</li>
		{%- endfor -%}
	</ul>
{% endif %}
