.entry__header,
.entry__summary,
.entry__footer,
.comments-template {
	max-width: var(--max-w-md);
}

.entry--archive {
	border-bottom: 2px solid var(--color-grey-100);
	margin-bottom: var(--spacing-8x);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-w-md);
	padding-bottom: var(--spacing-8x);
}

.entry__byline {
	color: var(--color-grey-500);
	display: inline-block;
	font-size: var(--font-size-md);
	margin-bottom: var(--spacing);

	& a {
		color: inherit;
	}
}

.entry__summary :last-child {
	margin-bottom: 0;
}

.entry__footer {
	margin-top: var(--spacing-2x) * 4;
}

.entry__title {
	&::after {
		background-color: var(--color-primary);
		content: "";
		display: block;
		height: var(--spacing-sm);
		margin: var(--spacing-6x) auto var(--spacing-7x);
		width: calc(var(--spacing-2x) * 8);
	}
}

.entry__terms-item {
	margin-right: var(--spacing-2x);
	margin-top: var(--spacing-2x);
}

.entry__terms-anchor {
	background-color: var(--color-primary-200);
	border-radius: 2px;
	color: var(--color-grey-900);
	padding: var(--spacing-sm) var(--spacing-2x);

	&:hover,
	&:focus,
	&:active {
		background-color: var(--color-grey-80);
		color: var(--color-white);
	}

	&:focus {
		outline-offset: -2px;
	}
}
