.pagination--comments {
	margin-bottom: var(--spacing-4x);
}

.pagination__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pagination__anchor {
	background-color: var(--color-primary-200);
	color: var(--color-grey-80);
	margin-right: var(--spacing);
	margin-top: var(--spacing);
	padding: var(--spacing) var(--spacing-2x);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active,
	&[aria-current] {
		background-color: var(--color-grey-80);
		color: var(--color-white);
	}

	&:focus {
		outline-offset: -2px;
	}
}

.pagination__anchor[aria-current] {
	text-decoration: underline;
}
