/* Font sizes. */
.has-small-font-size {
	font-size: var(--font-size-sm);
}

.has-medium-font-size {
	font-size: var(--font-size-md);
}

.has-large-font-size {
	font-size: var(--font-size-2xl);
}

.has-larger-font-size {
	font-size: var(--font-size-3xl);
	line-height: var(--line-height-sm);
}
