.decoration-none {
	text-decoration: none;
}

.h-decoration-underline {
	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.font-serif {
	font-family: var(--font-family-serif);
}

.font-sans {
	font-family: var(--font-family-sans);
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.font-size-md {
	font-size: var(--font-size-md);
}

.block {
	display: block;
}
