.has-drop-cap:not(:focus) {
	&::first-letter {
		float: left;
		font-family: serif;
		font-size: var(--font-size-2xl);
		font-style: normal;
		font-weight: 600;
		margin-right: var(--spacing-2x);
		text-transform: uppercase;
	}
}

.is-style-ingress,
.is-style-ingress.wp-block-paragraph {
	color: var(--color-grey-60);
	font-size: var(--font-size-xl);
}

.is-style-highlight,
.is-style-highlight.wp-block-paragraph {
	background-color: var(--color-primary-100);
	padding: var(--spacing-3x);
}
