.wp-block-pullquote {
	border-bottom: var(--spacing-sm) solid;
	border-top: var(--spacing-sm) solid;
	padding: var(--spacing-4x) 0;
	text-align: center;

	blockquote {
		border-left: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	&.alignwide,
	&.alignfull {
		blockquote {
			margin-left: auto;
			margin-right: auto;
			max-width: var(--max-w-xl);
			padding-bottom: calc(var(--spacing-3x) * 2);
			padding-top: calc(var(--spacing-3x) * 2);
		}
	}

	&.alignfull {
		padding-left: var(--spacing-2x);
		padding-right: var(--spacing-2x);
	}
}
