.entry__content,
.flow-spacing {
	--flow-space: var(--spacing-4x);
}

.flow-spacing--sm {
	--flow-space: var(--spacing-3x);
}

.flow-spacing--lg {
	--flow-space: var(--spacing-6x);
}

.entry__content > * + *,
.flow-spacing > * + *,
.wp-block-group__inner-container > * + *,
.wp-block-cover__inner-container > * + * {
	margin-bottom: 0;
	margin-top: var(--flow-space);
}

.entry__content > h2,
.entry__content > h3 {
	--flow-space: calc(var(--spacing-4x) * 2);
}

.entry__content > h2 + p,
.entry__content > h3 + p,
.entry__content > h4 + p,
.entry__content > h5 + p,
.entry__content > h6 + p {
	--flow-space: var(--spacing-3x);
}
