.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

@supports (grid-area: auto) {

	.grid {
		display: grid;
		grid-gap: calc(var(--spacing-2x) * 4);
		grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

		@media (--screen-md) {
			&--blog {
				grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
			}
		}
	}

}
